.card {width: 14vw;height: 10vh;content-visibility: hidden;background-color: black;display: table-cell;float:none;border: 4px solid grey;}
.cardhide {/* filter: brightness(0.0); */width: 14vw;height: 10vh;display: table-cell;background-color: #fd4100;/* float:none; */border: 4px solid orange;color: white;}
.cardDisappear{visibility: hidden; width: 14vw;height: 10vh;display: table-cell;background-color: #fd4100;/* float:none; */border: 4px solid orange;color: white; animation: cardDisappearAnim 2s linear;}
.Number{font-size: 6vh; margin-left: 3vw;}

button#resetBtn:hover {
    border: 3px solid #ffa714;
    background-color: #de0a0a;
    font-size: 4vw;
    align-content: center;
}

button#resetBtn {
    color: white;
    background-color: darkred;
    border: 3px solid brown;
    width: 20vw;
    height: 10vh;
    align-self: center;
    /* left: 50%; */
    /* right: 50%; */
    bottom: 10vh;
    margin-left: 13vw;
    margin-right: 10vw;
    //position: relative;
position: absolute;
    font-size: 3vw;

}

a#gitlink {
    font-size: 5vh;
    color: lightgray;
    bottom: 0px;
    position: absolute;
}

div.card:hover {
    border-color: firebrick;
}

div#gameBoard {
    background-color: #272525;
    height: 78vh;
    width: 44vw;
    margin-left: 28vw;
}

div#cards_place {
    top: 10vh;
    position: relative;
}

div#scoreText {
    color: white;
    font-size: 8vw;
    //position: relative;
position: absolute;
 left: 8.5vw;
    bottom: 10vh;
}
div#lifeText {
    color: red;
    font-size: 8vw;
    //position: relative;
position: absolute;
    left: 74vw;
    bottom: 10vh;
}

div#BurnGhost {
    //position: relative;
position: absolute;
    //width: 9vw;
    width: 16vw;
    height: 12vh;
    margin-left: 16vw;
    margin-right: 48%;
    top: 63%;
    //background-color: orange;
    background-image: url(img/bg.png);
    //background-size: 125px 100px;
background-size: 14vw 12vh;
}

div#NFT {
    //position: relative;
position: absolute;    
//background-color: white;
    width: 12vw;
    height: 10vh;
    top: 1vh;
    /* bottom: 20vh; */
    left: 44vw;
    background-image: url(img/nft.png);
    //background-size: 80px 32px;
    background-size: 12vw 9.2vh;
}


div#GameStatus {
    color: #a9a924;
    font-size: 2vw;
    align-content: center;
    margin-left: 0vw;
position: absolute;
bottom: 1vh;
}

div#NFT.fall {
    color: darkgrey;
    animation: falldown 1.6s linear;
visibility: hidden;
}

body {
    background-color: black;
}

div#BurnGhost.fly {
    animation: fly 1.5s linear;
}

@keyframes falldown{
    0%{
visibility: visible;
top: 1vh;
      left: 44vw;
      right: 44vw;
    }
    30%{
visibility: visible;
top: 12vh;
      left: 44vw;
      right: 44vw;
        }
    50%{
visibility: visible;
top: 25vh;
      left: 40vw;
      right: 24vw;
    background-size: 150px 60px;
    width: 22vw;
    height: 19vh;
        }
    80%{
visibility: visible;
top: 32vh;
      left: 30vw;
      right: 24vw;
        }
    90%{
visibility: visible;
     top: 40vh;
      left: 30vw;
      right: 24vw;
    background-size: 265px 106px;
    width: 48vw;
    height: 40vh;
        }
    100%{
visibility: visible;
     top: 55vh;  
      left:24vw;
      right: 24vw;
background-color: white;
    background-size: 265px 106px;
    width: 48vw;
    height: 40vh;

     }
}
@keyframes fly{
    0%{
top: 45%;
    }
80%{
        top: 25%;
}
    80%{
        top: 15%;

    }

    100%{
        top: -10%;
    }
}

@keyframes cardDisappearAnim{
0%{opacity: 1;visibility: visible;width: 14vw;height: 10vh;display: table-cell;background-color: #fd4100;/* float:none; */border: 4px solid orange;color: white;
}
20%{opacity: 1;visibility: visible;width: 14vw;height: 10vh;display: table-cell;background-color:#fdb79f;/* float:none; */border: 7px solid red;color: white;
}
40%{opacity: 1;visibility: visible;width: 14vw;height: 10vh;display: table-cell;background-color: #fd4100;/* float:none; */border: 4px solid orange;color: white;
}
100%{opacity: 0.0;visibility: visible;}
}
